@import "common/variables";
// Template Base

body {
	font-family: $font-primary;
	line-height: 1.8;
	font-size: 16px;
	background: $brand-body-bg;
	color: #848484;
	font-weight: 300;
	overflow-x: hidden;
	&.fh5co-offcanvas {
		overflow: hidden;
	}
}
a {
	color: $brand-primary;
	&:hover{
		text-decoration: none !important;
		color: $brand-primary !important;
	}
}
p, ul, ol {
	margin-bottom: 1.5em;
	font-size: 20px;
	color: $brand-lighter;
	// font-weight: 300;
	font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-darker;
	font-family: $font-primary;
	font-weight: 400;
	margin: 0 0 30px 0;
}
figure {
	margin-bottom: 2em;
}
::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

.col-md-4, .col-md-8, .col-md-6{
	float: left;
}
